<div class="container-fluid">
    <h1>Appointment Form</h1>
   
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="uname" [(ngModel)] = "applicationForm.name" class="form-control" autocomplete="off">
        </div>
        <div class="form-group">
            <label>email</label>
            <input type="text"  name="emailId" [(ngModel)] = "applicationForm.email" class="form-control" autocomplete="off">
        </div>
        <div class="form-group">
            <label>age</label>
            <input type="text"  name="age" [(ngModel)] = "applicationForm.age" class="form-control" autocomplete="off">
        </div>
        <div class="form-group">
            <label>Phone Number</label>
            <input type="tel" name="phoneNumber" [(ngModel)] = "applicationForm.mobile" class="form-control" autocomplete="off">
        </div>
        <div class="form-group">
            <label>Gender</label><br>
            <select name="gender" [(ngModel)] = "applicationForm.gender">
                <option selected>Please Select The Gender</option>
                <option  value="M">Male</option>
                <option  value="F">Female</option>
            </select>
        </div>
   
        <div class="form-check mb-3">
            
<div>
            <button class="btn btn-primary" type="submit" (click)="submitApplication()">Submit</button>
            <button class="btn btn-primary" type="submit" (click)="closeApplication()">Close</button>
</div>
        </div>
 
</div>